.header{
    height: 75%;
    width: 100%;
    background-image: linear-gradient(0deg, transparent 60%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 0.4) 100%), url(https://cnbl-cdn.bamgrid.com/assets/62ed936344e6ffbac48c896b2bd327fe171521dd941b6ddc8402e2eae50116fc/original);
    background-size: cover;
    background-position-y: -14vh;
    background-repeat: no-repeat;
    justify-content: center;
}

.nav{
    display: flex;
    width:100%;
    height: 74px;
    align-items: center;
    justify-content: space-between;
}

.logo{
    margin-left: 40px ;
    height: 100%;
    display: flex;
    align-items: center;
}

.logo >img{
    height: 24px;
    width: 61px;
}

.login{
    margin-right: 40px;
    display:flex;
    align-items: center;
    height: 40px;
    
}

.login > button {
    background-color: transparent;
    height: 40px;
    font-weight: 600;
    padding: 0 16px;
    border-radius: 15%;
    transition-duration: 0.4s;
    color: #a8afbd;
    font-size: 16px;
    letter-spacing: 1px;

}

.login>button:hover{
    background-color: #454a53;
    color:white;
}

button > a {
    color:inherit;
    text-decoration: none;
}

.bundles{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 80%;
    color:white;
    margin-top: 13vh;
}

.bundlecard{
    display: flex;
    height: 50%;
    width:100%;
    justify-content: center;
}

.bundle{
    margin:0 0px 0 30px;
    width:320px;
    text-align: center;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.bundle>p{
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .6px;
    color: #00ED82;
    padding-bottom: 1.5rem;
}

.logohuludisney{
    width:60%;
    height:25%
}
.logohuludisney2{
    width: 100%;
    height:25%

}
.bundle>h2{
    font-size: 24px;
    margin-top: 1rem;

}

.bundle>a>button{
    background-color: #00ED82;
    padding: 0 24px;
    height:40px;
    width:20rem;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
    margin-top: 1.8rem;
    color:black;
}

.bundle>a>button:hover{
    transition-duration: 0.4s;
    opacity: 0.8;
}    

.terms{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 0.6px;
}
.terms>a{
    color:inherit
}

.signup{
    text-align: center;
    color:rgb(255, 255, 255);
    font-size: 14px;
    letter-spacing: 0.6px;
    margin-top: 2rem;
}
.signup>a{
    color:inherit
}